@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Raleway Medium', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-shadow-1: #f2f3f7;
    --color-shadow-2: #e6e7ed;
    --color-shadow-3: #d9dae0;
    --color-shadow-4: #c2c3c9;
    --color-shadow-5: #aeafb5;
    --color-shadow-6: #93949a;
    --color-shadow-7: #707177;
    --color-shadow-8: #404147;
    --color-shadow-9: #000;

    --color-blue-1: #f0f2fd;
    --color-blue-2: #d3d7f8;
    --color-blue-3: #b5bcf4;
    --color-blue-4: #97a2f0;
    --color-blue-5: #7a87eb;
    --color-blue-6: #5c6de7;
    --color-blue-7: #3e52e3;
    --color-blue-8: #2137de;
    --color-blue-9: #001fff;
}

h1 {

    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
}